<!DOCTYPE html>
<!-- xmlns:th => th 키워드가 정의되어 있는 곳의 주소 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="post">
      <input type="text" name="num1" id="" />
      <label for="">+</label>
      <input type="text" name="num2" id="" />
      <button type="submit">계산</button>
    </form>
    <ul>
      <!--  th:text="${addDto?.num1}" 태그 안쪽 내용을 대체함  -->
      <!-- ? : null일 수도 있음 AddDto 클래스를 불러올 때 맨 앞 첫자리만 소문자로 접근 -->
      <li>Num1 : <span th:text="${addDto?.num1}"></span></li>
      <li>Num2 : <span th:text="${addDto?.num2}"></span></li>
      <li>결과 : <span th:text="${result}"></span></li>
    </ul>
  </body>
</html>
