<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content" class="m-5">
    <h2>Board Login Page</h2>
    <form th:action="@{login}" method="post">
      <div th:if="${param.error}" class="alert alert-danger"></div>
      <div class="mb-3 row">
        <label for="email" class="col-sm-2 col-form-label">email</label>
        <input type="email" class="form-control col-sm-3" id="email" name="username" />
        
      </div>
      <div class="mb-3 row">
        <label for="password" class="col-sm-3 col-form-label">password</label>
        <input class="form-control col-sm-3" id="password" name="password" type="password"></input>
       
      </div>
      <div class="mb-3 row">
        <label for="name" class="col-sm-3 col-form-label">name</label>
        <input type="text" class="form-control col-sm-3" id="name" name="name" />

      </div>
      <div class="mb-3 justify-content-end">
        <button class="btn btn-primary" type="submit">로그인</button>
      </div>
    </form>
  </div>
</html>
