<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content" class="m-5">
    <h2>Board Modify Page</h2>
    <form action="" method="post">
      <div class="mb-3 row">
        <label for="gno" class="col-sm-3 col-form-label">Bno</label>
        <input type="text" class="form-control col-sm-3" id="bno" name="bno" th:value="${dto.bno}" readonly />
      </div>
      <div class="mb-3 row">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <input type="text" class="form-control col-sm-3" id="title" name="title" th:value="${dto.title}" />
      </div>
      <div class="mb-3 row">
        <label for="content" class="col-sm-3 col-form-label">Content</label>
        <textarea class="form-control col-sm-3" id="content" name="content" rows="3" th:text="${dto.content}"></textarea>
        <!-- textarea는 value가 없어서 th:text 아니면 [[${dto.content}]]사용 -->
      </div>
      <div class="mb-3 row">
        <label for="writer" class="col-sm-3 col-form-label">Writer</label>
        <input type="text" class="form-control col-sm-3" id="writerName" name="writerName" th:value="${dto.writerName}" />
      </div>
      <div class="mb-3 row">
        <label for="createdDate" class="col-sm-3 col-form-label">RegDate</label>
        <input
          type="text"
          class="form-control col-sm-3"
          id="createdDate"
          th:value="${#temporals.format(dto.createdDate, 'yyyy/MM/dd HH:ss')}"
          readonly
        />
      </div>
      <div class="mb-3 row">
        <label for="lastModifiedDate" class="col-sm-3 col-form-label">UpdateDate</label>
        <input
          type="text"
          class="form-control col-sm-3"
          id="lastModifiedDate"
          th:value="${#temporals.format(dto.lastModifiedDate, 'yyyy/MM/dd HH:ss')}"
          readonly
        />
      </div>
      <div>
        <!-- name 값이랑 맵핑을 하고있기 때문에 가져가지 않아도 되는 값의 name값만 빼버리면 됨 -->
        <button class="btn btn-primary" type="submit">수정</button>
        <button class="btn btn-danger" type="button">삭제</button>
        <a class="btn btn-secondary" th:href="@{list}">목록</a>
        <!-- (page=${requestDto.page}, type=${requestDto.type}, keyword=${requestDto.keyword}) -->
      </div>
    </form>
    <form action="" method="post" id="actionForm">
      <input type="hidden" name="bno" th:value="${dto.bno}" />
      <!-- <input type="hidden" name="page" th:value="${requestDto.page}" />
      <input type="hidden" name="type" th:value="${requestDto.type}" />
      <input type="hidden" name="keyword" th:value="${requestDto.keyword}" /> -->
    </form>
  </div>
  <th:block layout:fragment="script">
    <script th:src="@{/js/modify.js}"></script>
  </th:block>
</html>
